# select to ignore

# root folder not needed in path
# /index.file
# /folder/file.extension

# To select all files
# *.extension
# folder/another_folder/*
logs/content-fetcher-configuration/
/logs/output
*env
*txt
/shared/uploads/*
logs/content-fetcher-configuration/all_path.py
logs/content-fetcher-configuration/all_path.py
