# select to ignore

# root folder not needed in path
# /index.file
# /folder/file.extension

# To select all files
# *.extension
# folder/another_folder/*
logs/
*env
*txt
/shared/uploads/*
logs/output/all_path_fetched_codebase.md
logs/output/project_structure.md
